:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-ed464d: #ed464d;
  --color-c3d4da: #c3d4da;
  --color-f5f5f5: #f5f5f5;
  --color-dcdcdc: #dcdcdc;
}

.green {
  color: var(--color-47ad24);
  font-size: 14px;
  font-family: roboto !important;
}

.red {
  color: var(--color-e52e2e);
  font-size: 14px;
  font-family: roboto !important;
}

.quill {
  background-color: white;
}

.form-control {
  box-shadow: none;
  border-color: var(#c3d4da);
}

.title {
  font-size: 28px;
  font-family: roboto !important;
  color: var(--color-212529);
}

.sub-title {
  font-size: 24px;
  font-family: roboto !important;
  color: var(--color-212529);
}

.desc {
  font-size: 14px;
  font-family: roboto !important;
  color: var(--color-828599);
}

.dropdown {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.dropdown:active {
  background-color: var(--color-dcdcdc) !important;
}

.dropdown:hover {
  background-color: var(--color-dcdcdc) !important;
}

.dropdown-menu {
  width: 223px;
}

.error-validation-text {
  color: var(--color-e52e2e);
  font-size: 12px;
}

.list-style-none {
  list-style-type: none;
}
