body {
  font-family: Roboto, sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout {
  min-height: 97vh;
}

.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 100% !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 100% !important;
}

main {
  overflow-y: auto;
  height: 85vh;
  background-color: transparent !important;
  margin: 15px 0px 15px 15px !important;
  padding: 12px !important;
}

main::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}

main::-webkit-scrollbar-thumb {
  background-color: #1677ff;
}

ant-layout-sider::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}

ant-layout::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}


aside {
}

.ant-layout-sider-children {
  position: absolute;
  overflow-y: auto;
  width: 100%;
}

.ant-layout-sider-children::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}

.ant-layout-sider-children::-webkit-scrollbar-thumb {
  background-color: #1677ff;
}

.logo-lg{
  height: 64px;
  margin: 0;
  width: 250px;
  position: fixed;
  z-index: 1000;
  background-color: #001529;
  transition: 0.4s;
}

.logo-sm {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: #001529;
  transition: 0.4s;
}

.ant-layout-sider-collapsed .logo-sm {
  display: block;
  height: 64px;
  margin: 0;
  width: 80px;
  transition: 0.4s;
}

.ant-layout-sider-collapsed .logo-lg {
  display: none;
  height: 64px;
  margin: 0;
  width: 250px;
  transition: 0.4s;
}

.ant-layout-header h5 {
  line-height: 25px;
  font-size: 14px;
}

.ant-layout-header p {
  line-height: 25px;
  font-size: 13px;
}

.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}
/* 
.ant-menu-title-content{
  font-size: 16px;
} */

.ant-menu{
  margin-top: 70px;
}